
				<!-- Footer -->
					<footer id="footer">
                        <audio controls>
                            <source src="/images/music.mp3" type="audio/mpeg">
                            <p>If you are reading this, it is because your browser does not support the audio element.</p>
                        </audio>
						<p class="copyright">&copy; {{ .Site.Params.copyright }}.</p>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="/js/skel.min.js"></script>
			<script src="/js/util.js"></script>
			<script src="/js/main.js"></script>
			{{ template "_internal/google_analytics_async.html" . }}

	</body>
</html>
