{{ partial "header.html" . }}
    <!-- Wrapper -->
        <style>
            audio {
                background-color: #181d1f !important;

            }
            audio::-webkit-media-controls-panel {
                background-color: #181d1f !important;
            }

        </style>
<div class="content">
    <div class="inner" style="text-align: center;">
        <img src="/images/logo.png" id="logo"/>
        <p>{{ .Site.Params.description | safeHTML }}</p>
    </div>
</div>
      <div id="wrapper">
        <div class="boxed">
          <video width = "1920" height = "480" autoplay loop  muted>
              <source src="/images/emergence_campaign.mp4" type="video/mp4">
              Your browser does not support the video tag.
          </video>
        </div>
        <!-- Header -->
        Play Music Here
          <audio controls>
              <source src="/images/music.mp3" type="audio/mpeg">
              <p>If you are reading this, it is because your browser does not support the audio element.</p>
          </audio>
          WITNESS THE HATCHING MONDAY NIGHT AT MIDNIGHT AT BURNING MAN 2018
          <script src="//www.powr.io/powr.js?external-type=html"></script>
          <div style="width: 100%" class="powr-countdown-timer" id="6b47d4fa_1524789509"></div>
          <header id="header">
              <!--[-->Donate (Coming Soon!)<!--]--><br />
              <nav>
                  <ul>
                  {{ range .Data.Pages.ByWeight }}
                      <li>{{ if isset .Params "link" }}<a href="{{ index .Params "link" }}"{{else}}<a href="#{{ .File.TranslationBaseName }}"{{end}}>{{ if .GetParam "menuname" }}{{ .GetParam "menuname" }}{{ else }}{{ .Title }}{{ end }}</a></li>
                  {{ end }}
                  </ul>
              </nav>
          </header>

        <!-- Main -->
          <div id="main">
            {{ range .Data.Pages }}
              {{ .Render "onepagestyle" }}
            {{ end }}
          </div>

        <!-- Multilanguage -->
          <div id="languages">
            {{ if .IsTranslated }}
              {{ range $i, $e := .Translations }}
                {{ if $i }}, {{ end }}<a href="{{ .Permalink }}">{{ $e.Language.LanguageName }}</a>
              {{ end}}
            {{ end }}
          </div>
{{ partial "footer.html" . }}
